# Crosstabulation

หรืออีกชื่อ pivot table

In [15]:
# dataset : => https://www.kaggle.com/datasets/vivek468/superstore-dataset-final

In [16]:
import pandas as pd
 

superstore = pd.read_csv('Sample_Superstore.csv', encoding='windows-1252', index_col="Row ID") 
        #วิธีเเก้มาจาก stackoverflow ('utf-8' codec can't decode byte 0xa0 in position 4276: invalid start byte)
        # index_col => optional
superstore.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Row ID,,,,,,,,,,,,,,,,,,,,
1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [17]:
superstore['Order Date'] = pd.to_datetime(superstore["Order Date"])
superstore['Ship Date'] = pd.to_datetime(superstore['Ship Date' ])
superstore['Postal Code'] = superstore['Postal Code'].astype(str)
#  ถ้าไม่มีจะ Error ตรง monthlySales

# 2 Product Monthlty Sales Trend
#### 2,1 Compute monthly sales

In [18]:
# ทำการย้าย Column [Order Date] ไปอยู่หน้าสุด  (Order Date จะถูกเซ้ตให้กลายเป็น index ด้านหน้า)
superstore.set_index('Order Date').head(5)

,Order ID,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Order Date,,,,,,,,,,,,,,,,,,,
2016-11-08,CA-2016-152156,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
2016-11-08,CA-2016-152156,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2016-06-12,CA-2016-138688,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
2015-10-11,US-2015-108966,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
2015-10-11,US-2015-108966,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [19]:
monthlySales = superstore.set_index('Order Date')\
    .groupby(['Category', 'Sub-Category'])['Sales']\
    .resample('M')\
    .sum()\
    .reset_index()

monthlySales.head()

,Category,Sub-Category,Order Date,Sales
0,Furniture,Bookcases,2014-01-31,1010.055
1,Furniture,Bookcases,2014-02-28,0.000
2,Furniture,Bookcases,2014-03-31,1706.446
3,Furniture,Bookcases,2014-04-30,308.499
4,Furniture,Bookcases,2014-05-31,640.631

#### 2.2 Convert Order Date to Period

In [20]:
# ทำ order date ให้เป็นรายเดือน เพื่อให้ดูง่ายขึ้น
monthlySales["Order Date"] = monthlySales["Order Date"].dt.to_period('M')
monthlySales.head()

,Category,Sub-Category,Order Date,Sales
0,Furniture,Bookcases,2014-01,1010.055
1,Furniture,Bookcases,2014-02,0.000
2,Furniture,Bookcases,2014-03,1706.446
3,Furniture,Bookcases,2014-04,308.499
4,Furniture,Bookcases,2014-05,640.631

### 2.3 Cross tabulation

In [25]:
monthlySales.pivot_table(
    index = ['Category', 'Sub-Category'],
    columns = 'Order Date',
            values = 'Sales', aggfunc=sum
)