# RFM ( Recency-Frequency-Monetary)

In [3]:
# Dataset => https://www.kaggle.com/datasets/vivek468/superstore-dataset-final

# Data Wrangling Practice 1
### RFM ( Recency-Frequency-Monetary)
การดูพฤติกรรมของลูกค้าในการซื้อสินค้า 
- Recency ครั้งล่าสุดเมื่อไหร่
- Frequency มาบ่อยเเค่ไหน
- Monetary จำนวนเงินที่เขาซื้อมีเท่าไหร่

#### 1.1 Load data

In [4]:
import pandas as pd
 

superstore = pd.read_csv('Sample_Superstore.csv', encoding='windows-1252', index_col="Row ID") 
        #วิธีเเก้มาจาก stackoverflow ('utf-8' codec can't decode byte 0xa0 in position 4276: invalid start byte)
        # index_col => optional
superstore.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Row ID,,,,,,,,,,,,,,,,,,,,
1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

#### 1.2 Check Type Data

In [5]:
superstore.info()
# order date & ship date ยังไม่เป็น type ที่ถูกต้อง 
# Postal Code เป็นตัวเลขก็จริง เเต่ไม่สามารถบบวกลบได้ ต้องเป็น opject

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9994 entries, 1 to 9994
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9994 non-null   object
 1   Order Date     9994 non-null   object
 2   Ship Date      9994 non-null   object
 3   Ship Mode      9994 non-null   object
 4   Customer ID    9994 non-null   object
 5   Customer Name  9994 non-null   object
 6   Segment        9994 non-null   object
 7   Country        9994 non-null   object
 8   City           9994 non-null   object
 9   State          9994 non-null   object
 10  Postal Code    9994 non-null   int64
 11  Region         9994 non-null   object
 12  Product ID     9994 non-null   object
 13  Category       9994 non-null   object
 14  Sub-Category   9994 non-null   object
 15  Product Name   9994 non-null   object
 16  Sales          9994 non-null   float64
 17  Quantity       9994 non-null   int64
 18  Discount       9994 non-null   float64
 19  Profit         9994 non-null   float64
dtypes: float64(3), int64(2), object(15)
memory usage: 1.6+ MB

In [6]:
superstore['Order Date'] = pd.to_datetime(superstore["Order Date"])
superstore['Ship Date'] = pd.to_datetime(superstore['Ship Date' ])
superstore['Postal Code'] = superstore['Postal Code'].astype(str)

#### 1.3 Get current data

In [7]:
import datetime
datetime.datetime.now()

datetime.datetime(2023, 8, 8, 13, 32, 20, 281808)

In [8]:
currentDate = superstore['Order Date'].max()
currentDate

Timestamp('2017-12-30 00:00:00')

In [9]:
(currentDate - superstore["Order Date"]).dt.days
    # .dt.days ไม่มีก็ได้เเต่เวลาเอาวันเวลาไป บวก ลบ จะทำไม่ได้ (สามารถลองเอาออกได้)

#### 1.4 Define recency function

In [10]:
# ตัวอย่างในหัว ในสิ่งที่เราจะทำ 
( currentDate -  superstore[superstore['Customer ID'] == 'CG-12520']['Order Date'].max()).days
    # ไม่ใส่ .dt เพราะ .dt ใช้กับ series

338

In [11]:
def recency(x) :
    return ( currentDate - x.max() ).days

In [12]:
    # ตัวอย่าง  วิธีใช้จริงจะอยู่ด้านล่าง
recency(superstore['Order Date'])

0

#### 1.5 Recency of each customer 
คนๆนี้ Order ID นี้ ไม่ได้เข้ามาใช้งานนานเท่าไหร่เเล้ว

In [13]:
superstore.groupby('Customer ID').agg({'Order Date':recency})
    # : recency น่าจะคือการ นำ function มาใช้

,Order Date
Customer ID,
AA-10315,184
AA-10375,19
AA-10480,259
AA-10645,55
AB-10015,415
...,...
XP-21865,43
YC-21895,4
YS-21880,9
ZC-21910,54
ZD-21925,202

#### 1.6 Add frequency of each customer
ต้องมาตีความก่อนว่า "ความถี่ของการซื้อ" จะนับยังไง

In [14]:
superstore.groupby('Customer ID').agg({ 'Order Date': recency, 'Order ID' : 'nunique'})
    # nunique หมายความว่า Order ID นี้มีความเป็น unique กี่ครั้ง
#superstore.groupby('Customer ID').agg({ 'Order Date': recency, 'Order ID' : 'count'  })  # ใช้ 'count' แทน 'nunique'

,Order Date,Order ID
Customer ID,,
AA-10315,184,5
AA-10375,19,9
AA-10480,259,4
AA-10645,55,6
AB-10015,415,3
...,...,...
XP-21865,43,11
YC-21895,4,5
YS-21880,9,8
ZC-21910,54,13
ZD-21925,202,5

In [15]:
# ตัวอย่างจาก Code ด้านบน
superstore['Customer ID'].nunique()
    # df[...].nunique | df[...] : nunique => คล้ายๆกัน

793

#### 1.7 Add monetaey of each customer

In [16]:
superstore.groupby('Customer ID').agg({'Order Date': recency,
                                       'Order ID': 'nunique',
                                       'Sales' : sum})

,Order Date,Order ID,Sales
Customer ID,,,
AA-10315,184,5,5563.560
AA-10375,19,9,1056.390
AA-10480,259,4,1790.512
AA-10645,55,6,5086.935
AB-10015,415,3,886.156
...,...,...,...
XP-21865,43,11,2374.658
YC-21895,4,5,5454.350
YS-21880,9,8,6720.444
ZC-21910,54,13,8025.707
ZD-21925,202,5,1493.944

#### 1.8 Rename Columns
ภาพรวมทั้งหมด

In [17]:
superstore\
    .groupby('Customer ID')\
        .agg({ 'Order Date' : recency, 'Order ID': 'nunique', 'Sales': sum })\
            .rename(columns = {'Orde Date': 'R','Order ID':'F','Sales': 'M' })

,Order Date,F,M
Customer ID,,,
AA-10315,184,5,5563.560
AA-10375,19,9,1056.390
AA-10480,259,4,1790.512
AA-10645,55,6,5086.935
AB-10015,415,3,886.156
...,...,...,...
XP-21865,43,11,2374.658
YC-21895,4,5,5454.350
YS-21880,9,8,6720.444
ZC-21910,54,13,8025.707
ZD-21925,202,5,1493.944

#### 1.9 Convert values to quartiles

In [18]:
rfmData = superstore\
    .groupby('Customer ID')\
        .agg({ 'Order Date' : recency, 'Order ID': 'nunique', 'Sales': sum })\
            .rename(columns = {'Orde Date': 'R','Order ID':'F','Sales': 'M' })

ค่า R จะเห็นได้ว่างมีตั้งเเต่น้อยมาก ไปยันเยอะมาก ดังนั้นจะต้องนำมาทำ Z-Score(มั้ง เเต่ ต้องมาทำให้เป็นส่วน4ส่วน) วิธีนี่จะใชวิธี คัด หรือ คิวคัด

In [19]:
rfmData.transform(lambda x: pd.qcut(x, q=4, labels=False))

,Order Date,F,M
Customer ID,,,
AA-10315,3,0,3
AA-10375,0,3,0
AA-10480,3,0,1
AA-10645,1,1,3
AB-10015,3,0,0
...,...,...,...
XP-21865,1,3,2
YC-21895,0,0,3
YS-21880,0,2,3
ZC-21910,1,3,3
ZD-21925,3,0,1

- 303 -> มาซื้อไม่บ่อย เเต่ซื้อเยอะ เเล้วซื้อกับเราเยอะเเล้ว 
- 030 ->  ซื้อน้อยมาก เเต่ซื้อบ่อย
- 301 -> ไม่ได้มาซื้อนานเเล้ว ซื้อทีละไม่เยอะ ไม่ได้ซื้อบ่อย

### ความเเตกต่างระหว่าง cut & qcut

### cut

In [20]:
# ตัวอย่าง1
pd.cut(superstore["Sales"], 4)

In [21]:
# ตัวอย่าง 2
pd.crosstab(pd.cut(superstore["Sales"], 4), "N")
    # จากข้อมูลทำให้รู้ว่าเกิดการ "กระจุกตัวข้อมูล"

col_0,N
Sales,
"(-22.194, 5659.953]",9979
"(5659.953, 11319.462]",12
"(11319.462, 16978.971]",1
"(16978.971, 22638.48]",2

### qcut

In [22]:
pd.qcut(superstore['Sales'],q=4)

In [23]:
pd.crosstab(pd.qcut(superstore['Sales'],q=4), 'N')
    # ไม่"กระจุกตัว" เหมือน cut

col_0,N
Sales,
"(0.443, 17.28]",2501
"(17.28, 54.49]",2496
"(54.49, 209.94]",2499
"(209.94, 22638.48]",2498

### อธิบายจากด้านบน 
#### มันเเบ่งเป้นช่วงที่ไม่เท่ากัน 16, 37, 155, 22429 ตามละดับ

- cut คือใช้ max min เเล้วเเบ่งเป้น4 ส่วน
- qcut นำ Data มา Sort เรียงต่อกัน เเล้วค่อยตัดเเบ่งตาม % [25, 50, 75, 100]